<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @recipe.category %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @recipe.ingredients %>
</p>

<p>
  <strong>Instructions:</strong>
  <%= @recipe.instructions %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @recipe.rating %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe), :class => "btn btn-primary" %> |
<%= link_to 'Back', recipes_path, :class => "btn btn-primary" %>